* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arsenal', sans-serif;
    overflow: hidden;
}

.welcome {
    text-align: center;
    margin: auto;
    display: table;
}

span {
    display:table-cell;
    vertical-align:middle;
    color: white;
    font-size: 3rem;
}

#card {
    visibility: hidden;
    position: absolute;
    background-color: white;
    top: 20vh;
    left: 20vw;
    font-size: 1rem;
    border-radius: .5rem;
    padding: .4rem;
}

#ex {
    height: 15px;
    width:  15px;
    float: right;
    color: red;
    font-size: .85rem;
    line-height: 0px;
    border: none;
    background-color: white;
    border-radius: 1px;
}